

section {
  padding: 0;
}
footer {
  background-color: #424242;
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  padding: 20px 40px 50px 40px;
}
footer ul{
  list-style: none;
  padding: 0;
}
footer h3{
  font-size: 18px;
  font-weight: 500;
}
